
  #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -5;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 85%; 
   
  }

  h1{
    text-align: center;
    font-size: 6em;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    margin-top: 30px;
    text-shadow: -1px 5px 0 #000,
                         5px 5px 0 #000,
                         5px -1px 0 #000,
                        -1px -1px 0 #000;  
  }

  button {
    color: yellow;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: dotted;
    border-color: yellow;
    font-size: 1.8em;
    font-family: 'Press Start 2P', cursive; 
    position: absolute;
    bottom: 40px;
    
}

  button:active {
    background-color: #d2ee1a;
    box-shadow: 0 5px rgb(162, 146, 7);
    transform: translateY(4px);
}




 